<html>

  <head>
    <meta charset="utf-8">
    <!-- Set viewport_width = device_width and reset scaling (responsive design) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FCC Portfolio Challenge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
  </head>

  <body>
  <div class="container-fluid">

    <h1>Hello from a template!</h1>
      <form id="search_form_homepage" name="x" method="GET" action="/">
        <div id="search_bar_homepage" class="form-inline text-center">
          <input id="search_form_input_homepage" type="text" class="form-control" autocomplete="off" autocapitalize="off" autocorrect="off">
          <button id="search_button_homepage" class="btn btn-default" type="submit">
            <i class="fa fa-search fa-2x"></i>
          </button>
        </div>
      </form>

  </div>
  </body>

</html>
